.hero-copy h1{
    color: white;
    text-shadow: 2px 2px 1px #DC1C23;
}

.hero-copy p{
    color: white;
    text-shadow: 2px 2px 1px #DC1C23;
    font-family: "Roboto", Arial, sans-serif;
    /*text-shadow: 2px 2px 1px ;*/
}
.hero-copy a {
    color: white;
    text-shadow: 2px 2px 1px #DC1C23;
    font-family: "Roboto", Arial, sans-serif;
}

header .top-nav ul .cart-count.card-caunt-custom {
    display: inline-block;
    background: #7E1618;
    color: white;
    line-height: 0;
    border-radius: 50%;
    font-size: 14px;
}

.hero-copy .button-white:hover {
    color: white !important;
    background: #7E1618;
    text-shadow: 2px 2px 1px #DC1C23;
    font-family: "Roboto", Arial, sans-serif;
}

header.with-background .top-nav ul a {
    color: white;
    text-shadow: 2px 2px 1px #DC1C23;
}





